<div class="recipe-card">
  <img src="https://foodish-api.com/images/burger/burger4.jpg" alt="{{ recipe.label }}" class="recipe-image">
  <div class="recipe-details">
    <h2>{{ recipe.label }}</h2>
    <p>{{ recipe.instruction }}</p>
    <div class="recipe-meta">
      <span><i class="fas fa-clock"></i> {{ recipe.duration }} mins</span>
      <span><i class="fas fa-utensils"></i> {{ recipe.recipeIngredientsDto.length }} ingredients</span>
    </div>
    <button class="view-recipe-btn" [routerLink]="['/recipes', recipe.id]" [state]="{ recipe: recipe }">View Recipe</button>
  </div>
</div>
