<div class="fridge-content">
    <h2>Mon frigo</h2>
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" (input)="searchIngredients()" placeholder="Rechercher un ingrédient">
    </div>
    <ul class="ingredient-list">
      @for (ingredientDto of searchResults; track ingredientDto.id) {
      <li>
        {{ ingredientDto.label }}
        <input type="number" [(ngModel)]="ingredientDto.quantity" placeholder="Quantité">
        {{ ingredientDto.unitLabel }}
        <button (click)="addToFridge(ingredientDto)">Ajouter au frigo</button>
      </li>
      }
    </ul>
    <h3>Ingrédients dans mon frigo</h3>
    <ul class="fridge-list">
      @for (fridgeItem of fridgeContents; track fridgeItem.id) {
      <li>
        {{ fridgeItem.label }} -
        <input type="number" [(ngModel)]="fridgeItem.quantity" placeholder="Quantité" (change)="updateFridgeContents()">
        {{ fridgeItem.unitLabel }}
        <button (click)="removeFromFridge(fridgeItem)">Retirer</button>
      </li>
      }
    </ul>
  </div>