<div class="view-toggle">
  <label>
    <input type="radio" name="view" value="fridge" [checked]="currentView === 'fridge'"
      (change)="onViewChange('fridge')">
    <span>Mon frigo</span>
  </label>
  <label>
    <input type="radio" name="view" value="recipes" [checked]="currentView === 'recipes'"
      (change)="onViewChange('recipes')">
    <span>Mes recettes</span>
  </label>
</div>

<div class="recipe-container">
  @if (currentView === 'recipes') {
  <app-recipes></app-recipes>
  } @else {
  <app-fridge></app-fridge>
  }
</div>